build/index.html
<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    
    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    
    <!-- Use title if it's in the page YAML frontmatter -->
    <title>iLead Simulator</title>
    <link href='http://fonts.googleapis.com/css?family=Oxygen:400,300,700' rel='stylesheet' type='text/css'>
    <link href="/stylesheets/all.css" rel="stylesheet" type="text/css" />
    <script src="https://code.jquery.com/jquery-2.1.1.min.js" ></script>
    <script src="/javascripts/all.js" type="text/javascript"></script>
    <script src="/javascripts/avgrund.js" type="text/javascript"></script>
  </head>
  
  <body>
    <header>
  <a class="logo left" href="index.html"><img alt="Inpired Resume" src="images/logo.png" /></a><a class="about right" href="about_us.html"> About Us</a>
</header>
<section class="upload-resume">
  <h2 class="title">
    Make your resume error free !
  </h2>
  <div class="feature-box">
    <ul class="features list horizontal">
      <li class="spell">
        Spell Check
      </li>
      <li class="grammar">
        Grammar Check
      </li>
      <li class="audit">
        Audit by Language Expert
      </li>
    </ul>
    <div class="clear"></div>
  </div>
  <div class="upload-box">
    <input class="submit-box" placeholder="Drag and Drop your resume here (.doc or .docX)" type="text" />
    <div class="clear"></div>
  </div>
  <input class="submit-btn" type="submit" value="SUBMIT" />
  <p class="free-text">
    It's absolutely free !
  </p>
</section>
<section class="teaser hidden">
  <div class="teaser-box">
    <p>
      90% of recruiting managers would reject a candidate whose resume has a spelling or a grammatic error. <span class="blue">A good enough reason to keep your resume error-free ?</span>
    </p>
  </div>
</section>
<section class="howto">
  <h3>
    Here is how it works 
  </h3>
  <div class="howto-container">
    <ul class="list horizontal howto-list">
      <li>
        <img src="images/howto_1.png" />
        <p>
          Your submit your resume
        </p>
      </li>
      <li>
        <img src="images/howto_2.png" />
        <p>
          Your resume gets analyzed for errors
        </p>
      </li>
      <li>
        <img src="images/howto_3.png" />
        <p>
          Your resume gets audited by our language expert
        </p>
      </li>
      <li>
        <img src="images/howto_4.png" />
        <p>
          Your corrected resume arrives in your inbox
        </p>
      </li>
    </ul>
    <div class="clear"></div>
  </div>
</section>
<footer>
  <div class="f_container">
    <div class="left copyright">
      <p>
        &copy Inspired Resume, 2015
      </p>
    </div>
    <div class="right footer-links">
      <a href="about-us.html">About Us</a><a href="hiring.html">We are hiring</a>
    </div>
  </div>
</footer>
  </body>
  <script type="text/javascript">
  $(document).ready( function() {
    $('.hasBars .dataBar').each(function() { 
      $(this).animate( {
          width: $(this).parent().prev().html()+"%"
        }, 500, function(){});
    });
    $('.dataBar.target').animate( {width:'30%'}, 500, function(){});

    $('.memberContainer').click( function() {
      $('.avgrund-popup').css('top', $(window).scrollTop() + 100 + "px");
      $(this).addClass("active_popup");
      $('.umName').each(function() {
        $(this).html($('.active_popup .memberName').html());
      });
      $('.userStats .dataCount').each(function(i) {
        $(this).html($('.active_popup .dataCount').eq(i).html());
      });
    
    //Pop up Open
      Avgrund.show( "#default-popup" );

      $('.avgrund-popup-animate .dataBar').each(function() {
       $(this).css('width', $(this).parent().prev().html()+"%");
      });
    });

    $('.close').click( function() {
      $('.active_popup').removeClass('active_popup');
      Avgrund.hide();
      $('.avgrund-popup .dataBar').removeClass('animate');
      $('.avgrund-popup .dataBar').css('width', '0');
      $('.avgrund-popup').css('top', "100px");
    });
  });
</script>

</html>

source/index.html.slim
   
header 
  a.logo.left href="index.html"  
    img src="images/logo.png" alt="Inpired Resume"
  a.about.right href="about_us.html"  About Us

section.upload-resume 
  h2.title Make your resume error free !
  .feature-box
    ul.features.list.horizontal
      li.spell Spell Check
      li.grammar Grammar Check
      li.audit  Audit by Language Expert
    .clear
  .upload-box
    input.submit-box type="text" placeholder="Drag and Drop your resume here (.doc or .docX)" 
    .clear
  input.submit-btn type="submit" value="SUBMIT"
  p.free-text It's absolutely free !

section.teaser.hidden
  .teaser-box
    p 
      | 90% of recruiting managers would reject a candidate whose resume has a spelling or a grammatic error. 
      span.blue
        | A good enough reason to keep your resume error-free ?

section.howto
  h3 Here is how it works 
  .howto-container
    ul.list.horizontal.howto-list
      li 
        img src="images/howto_1.png"
        p Your submit your resume
      li
        img src="images/howto_2.png"
        p Your resume gets analyzed for errors
      li
        img src="images/howto_3.png"
        p Your resume gets audited by our language expert
      li
        img src="images/howto_4.png"
        p Your corrected resume arrives in your inbox
    .clear

footer 
  .f_container 
    .left.copyright
      p &copy Inspired Resume, 2015
    .right.footer-links
      a href="about-us.html" About Us
      a href="hiring.html" We are hiring







  
